.geeks-main-btn {
    width: 100px;
    height: 50px;
    background-color: black;
    color: var(--ui-yellow, #FCE900);
    text-align: center;
    font-family: Reforma Grotesk Demi;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.geeks-header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    padding: 10px 50px;
    position: fixed;
    width: 1440px;
    backdrop-filter: blur(10px);
}

.geeks-header-nav-links {
    display: flex;
    gap: 20px;
    list-style-type: none;
}
.geeks-header-nav-btns {
    display: flex;
    gap: 20px;
    align-items: center;
}

.geeks-header-nav-drop-down {
    background-color: black;
    color: #FCE900;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;

}

.header-links-course {
    list-style-type: none;
    text-decoration: none;
    color: var(--ui-black, #000);
    text-align: center;
    font-family: Reforma Grotesk Demi;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.drop-down-right {
    display: flex;
}
/* drop down menu */
nav {
    display: table;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .drop-down-right:after {
    display: table;
    clear: both;
  }
  .drop-down-right > li {
    width: 25%;
    float: left;
    position: relative;
    font-family: 'Open Sans', sans-serif;
  }
  .drop-down-right > li > a {
    font-weight: bold;
    padding: 15px 10px;
  }
  .submenu {
    background: #273037;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 5;
    width: 100px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: .5s ease-in-out;
  }
  .submenu a {
    color: white;
    text-align: left;
    padding: 12px 15px;
    font-size: 13px;
    border-bottom: 1px solid rgba(255,255,255,.1);
  }
  .submenu li:last-child a { border-bottom: none; }
  .drop-down-right > li:hover .submenu {
    opacity: 1;
    transform: scaleY(1);
  }

  .submenu-link {
    display: flex;
    gap: 5px;
    color: yellow;
  }
/* drop down menu */

.geeks-header-section-first {
    height: 1500px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.geeks-main-section-two {
    height: 1000px;
    background-color: black;
}
